.body {
    max-height: 100vh;
    flex: 0.835;
    background: linear-gradient(rgb(85, 83, 102), rgb(91, 87, 115), #333, #222, #111);
    /* background-color: #121212; */
    color: white;
    padding: 30px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.body::-webkit-scrollbar {
    display: none;
}

.body__info {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.body__infoText {
    flex: 1;
    margin-left: 20px;
}

.body__info>img {
    height: 16vw;
    object-fit: contain;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body__infoText>h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.body__infoText>p {
    font-size: 14px;
    color: lightgray;
}

.body__songs {
    margin: 20px -30px;
    /* overflow-y: scroll; */
}

.body__icons {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.body__icons>.MuiSvgIcon-root {
    margin-right: 25px;
}

.body__shuffle {
    font-size: 70px !important;
    margin: 0px 0px 0px 25px;
    transition: all 1s ease-in;
    color: #1DB954;
}

.body__shuffle:hover {
    transform: scale(1.08);
}